In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
cmap = plt.cm.tab10

In [3]:
data = pd.read_csv("dataset/german_credit_data.csv", index_col=0)

In [29]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

# Data Quality Analysis

## Numerical features

### Age

In [6]:
data.Age.min()

19

In [7]:
data.Age.max()

75

In [8]:
data.Age.median()

33.0

In [4]:
data.Age.mean()

35.546

In [12]:
data.Age.std()

11.375468574317512

In [11]:
data.Age.mode().iat[0]

27

### Credit amount

In [13]:
data["Credit amount"].min()

250

In [14]:
data["Credit amount"].max()

18424

In [15]:
data["Credit amount"].mean()

3271.258

In [16]:
data["Credit amount"].std()

2822.7368759604406

### Duration

In [18]:
data.Duration.min()

4

In [19]:
data.Duration.max()

72

In [20]:
data.Duration.mean()

20.903

In [21]:
data.Duration.median()

18.0

In [22]:
data.Duration.std()

12.058814452756375

In [23]:
data.columns

Index(['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account',
       'Credit amount', 'Duration', 'Purpose'],
      dtype='object')

## Categorical Features

In [24]:
cat_cols = ["Sex", "Job", "Housing", "Saving accounts", "Checking account", "Purpose"]

In [28]:
for col in cat_cols:
    print("===========================")
    print(col, ":")
    print(data[col].value_counts())
    print("++++++++++++++++++++++++++++")

===========================
Sex :
male      690
female    310
Name: Sex, dtype: int64
++++++++++++++++++++++++++++
===========================
Job :
2    630
1    200
3    148
0     22
Name: Job, dtype: int64
++++++++++++++++++++++++++++
===========================
Housing :
own     713
rent    179
free    108
Name: Housing, dtype: int64
++++++++++++++++++++++++++++
===========================
Saving accounts :
little        603
moderate      103
quite rich     63
rich           48
Name: Saving accounts, dtype: int64
++++++++++++++++++++++++++++
===========================
Checking account :
little      274
moderate    269
rich         63
Name: Checking account, dtype: int64
++++++++++++++++++++++++++++
===========================
Purpose :
car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
domestic appliances     12
vacation/others         12
Name: Purpose, dtype: int64
++++++++++++++++++++++++++++