In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
cmap = plt.cm.tab20
from sklearn.model_selection import train_test_split
import tensorflow as tf
layers = tf.keras.layers

In [2]:
data = pd.read_csv("dataset/german_credit_data_withrisk.csv", index_col=0)

In [3]:
# data = data[["Credit amount", "Age", "Duration", "Purpose", "Risk"]]

In [4]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [5]:
num_impute = "mean" # One of ["mean", "zero", "infinity"]
cat_impute = "none" # One of ["mode", "none"]

In [6]:
job_index2word = {
    0: "unskilled and non-resident", 
    1: "unskilled and resident", 
    2: "skilled", 
    3: "highly skilled"
}
def assign_job_type(col):
    return job_index2word[col]

In [7]:
data.Job = data.Job.apply(assign_job_type)

In [8]:
cat_cols = ['Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Purpose']
num_cols = ['Age', 'Credit amount', 'Duration']

In [9]:
def impute_with_mean(df):
    out = pd.DataFrame(df)
    for col in df.columns:
        if col in num_cols:
            out.loc[out[col].isna(), col] = df[col].mean()
    return out
def impute_with_zero(df):
    out = pd.DataFrame(df)
    for col in df.columns:
        if col in num_cols:
            out.loc[out[col].isna(), col] = 0.0
    return out


def impute_with_infinity(df):
    out = pd.DataFrame(df)
    for col in df.columns:
        if col in num_cols:
            out.loc[out[col].isna(), col] = float("inf")
    return out
def impute_with_mode(df):
    out = pd.DataFrame(df)
    for col in df.columns:
        if col in cat_cols:
            out.loc[out[col].isna(), col] = df[col].mode().iat[0]
    return out
def impute_with_none(df):
    out = pd.DataFrame(df)
    for col in df.columns:
        if col in cat_cols:
            out.loc[out[col].isna(), col] = "None"
    return out

In [10]:
def get_impute_function(name):
    assert name in ["mean", "zero", "infinity", "mode", "none"]
    if name == "mean":
        return impute_with_mean
    elif name == "zero":
        return impute_with_zero
    elif name == "infinity":
        return impute_with_infinity
    elif name == "mode":
        return impute_with_mode
    else:
        return impute_with_none

In [11]:
def impute_missing_values(df, num_impute, cat_impute):
    num_impute_function = get_impute_function(num_impute)
    cat_impute_function = get_impute_function(cat_impute)
    new_df = num_impute_function(df)
    new_df = cat_impute_function(df)
    return new_df

In [12]:
data.isna().sum()

Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
Risk                  0
dtype: int64

In [13]:
data = impute_missing_values(data, num_impute, cat_impute)

In [14]:
data.isna().sum()

Age                 0
Sex                 0
Job                 0
Housing             0
Saving accounts     0
Checking account    0
Credit amount       0
Duration            0
Purpose             0
Risk                0
dtype: int64

In [15]:
(data.Risk == "good").sum()

700

In [16]:
(data.Risk == "bad").sum()

300

In [17]:
def cat2onehot(df):
    output = df.copy()
    for col in cat_cols:
        if col in df.columns:
            dummies = pd.get_dummies(df[col], prefix="", prefix_sep = col+"_")
            output = pd.concat([dummies, output], axis=1)
  
            output.drop(col, axis=1, inplace=True)
      
    return output

In [18]:
data = cat2onehot(data)

In [19]:
data.columns

Index(['Purpose_business', 'Purpose_car', 'Purpose_domestic appliances',
       'Purpose_education', 'Purpose_furniture/equipment', 'Purpose_radio/TV',
       'Purpose_repairs', 'Purpose_vacation/others', 'Checking account_None',
       'Checking account_little', 'Checking account_moderate',
       'Checking account_rich', 'Saving accounts_None',
       'Saving accounts_little', 'Saving accounts_moderate',
       'Saving accounts_quite rich', 'Saving accounts_rich', 'Housing_free',
       'Housing_own', 'Housing_rent', 'Job_highly skilled', 'Job_skilled',
       'Job_unskilled and non-resident', 'Job_unskilled and resident',
       'Sex_female', 'Sex_male', 'Age', 'Credit amount', 'Duration', 'Risk'],
      dtype='object')

In [20]:
def normalize_numerical(df):
    output = df.copy()
    norm_params = {}
    for col in num_cols:
        mean = df[col].mean()
        std = df[col].std()
        
        output[col] = (df[col] - mean)/std
        norm_params[col] = {"mean":mean, "std":std}
    return output, norm_params

In [21]:
data.head()

,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_None,Checking account_little,...,Job_highly skilled,Job_skilled,Job_unskilled and non-resident,Job_unskilled and resident,Sex_female,Sex_male,Age,Credit amount,Duration,Risk
0,0,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,1,67.0,1169.0,6.0,good
1,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,22.0,5951.0,48.0,bad
2,0,0,0,1,0,0,0,0,1,0,...,0,0,0,1,0,1,49.0,2096.0,12.0,good
3,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,1,45.0,7882.0,42.0,good
4,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,0,1,53.0,4870.0,24.0,bad

In [22]:
data, norm_params = normalize_numerical(data)

In [23]:
data.head()

,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Checking account_None,Checking account_little,...,Job_highly skilled,Job_skilled,Job_unskilled and non-resident,Job_unskilled and resident,Sex_female,Sex_male,Age,Credit amount,Duration,Risk
0,0,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,1,2.765073,-0.744759,-1.235859,good
1,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,-1.190808,0.949342,2.247070,bad
2,0,0,0,1,0,0,0,0,1,0,...,0,0,0,1,0,1,1.182721,-0.416354,-0.738298,good
3,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,1,0.831087,1.633430,1.749509,good
4,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,0,1,1.534354,0.566380,0.256825,bad

In [24]:
X = data[data.columns[:-1]].values
y = (data.Risk == "good").astype(float)

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, test_size = 0.2, random_state = 123)

In [107]:
model = tf.keras.Sequential([
    layers.Dense(32, activation="relu", kernel_regularizer="l2"),
    layers.Dropout(0.25),
    layers.Dense(64, activation="relu", kernel_regularizer="l2"),
    layers.Dense(128, activation="relu", kernel_regularizer="l2"),
    layers.Dense(256, activation="relu", kernel_regularizer="l2"),
    layers.Dense(1, activation="sigmoid")
])

In [108]:
model.compile(loss="binary_crossentropy", optimizer=tf.keras.optimizers.Adam(1e-3), metrics=["accuracy"])

In [109]:
model.fit(X_train,y_train, validation_data=(X_test, y_test), epochs=100)

Epoch 1/100
25/25 [==============================] - 0s 19ms/step - loss: 3.3128 - accuracy: 0.6950 - val_loss: 2.7247 - val_accuracy: 0.7000
Epoch 2/100
25/25 [==============================] - 0s 7ms/step - loss: 2.2964 - accuracy: 0.7000 - val_loss: 1.9358 - val_accuracy: 0.7000
Epoch 3/100
25/25 [==============================] - 0s 12ms/step - loss: 1.6635 - accuracy: 0.7025 - val_loss: 1.4528 - val_accuracy: 0.7100
Epoch 4/100
25/25 [==============================] - 0s 13ms/step - loss: 1.2704 - accuracy: 0.7250 - val_loss: 1.1527 - val_accuracy: 0.7350
Epoch 5/100
25/25 [==============================] - 0s 14ms/step - loss: 1.0259 - accuracy: 0.7337 - val_loss: 0.9751 - val_accuracy: 0.7300
Epoch 6/100
25/25 [==============================] - 0s 17ms/step - loss: 0.8830 - accuracy: 0.7400 - val_loss: 0.8635 - val_accuracy: 0.7250
Epoch 7/100
25/25 [==============================] - 0s 10ms/step - loss: 0.7919 - accuracy: 0.7312 - val_loss: 0.7930 - val_accuracy: 0.7200
Epoch 8/100
25/25 [==============================] - 0s 10ms/step - loss: 0.7203 - accuracy: 0.7387 - val_loss: 0.7459 - val_accuracy: 0.7350
Epoch 9/100
25/25 [==============================] - 0s 9ms/step - loss: 0.6881 - accuracy: 0.7450 - val_loss: 0.7170 - val_accuracy: 0.7000
Epoch 10/100
25/25 [==============================] - 0s 9ms/step - loss: 0.6484 - accuracy: 0.7475 - val_loss: 0.6917 - val_accuracy: 0.7000
Epoch 11/100
25/25 [==============================] - 0s 9ms/step - loss: 0.6289 - accuracy: 0.7500 - val_loss: 0.6765 - val_accuracy: 0.6950
Epoch 12/100
25/25 [==============================] - 0s 15ms/step - loss: 0.6117 - accuracy: 0.7563 - val_loss: 0.6634 - val_accuracy: 0.7000
Epoch 13/100
25/25 [==============================] - 0s 9ms/step - loss: 0.6019 - accuracy: 0.7750 - val_loss: 0.6608 - val_accuracy: 0.7050
Epoch 14/100
25/25 [==============================] - 0s 9ms/step - loss: 0.5983 - accuracy: 0.7613 - val_loss: 0.6482 - val_accuracy: 0.6900
Epoch 15/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5855 - accuracy: 0.7588 - val_loss: 0.6458 - val_accuracy: 0.7100
Epoch 16/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5811 - accuracy: 0.7600 - val_loss: 0.6379 - val_accuracy: 0.6950
Epoch 17/100
25/25 [==============================] - 0s 9ms/step - loss: 0.5792 - accuracy: 0.7525 - val_loss: 0.6387 - val_accuracy: 0.7050
Epoch 18/100
25/25 [==============================] - 0s 8ms/step - loss: 0.5686 - accuracy: 0.7588 - val_loss: 0.6350 - val_accuracy: 0.6950
Epoch 19/100
25/25 [==============================] - 0s 9ms/step - loss: 0.5581 - accuracy: 0.7713 - val_loss: 0.6348 - val_accuracy: 0.7000
Epoch 20/100
25/25 [==============================] - 0s 12ms/step - loss: 0.5590 - accuracy: 0.7725 - val_loss: 0.6378 - val_accuracy: 0.7150
Epoch 21/100
25/25 [==============================] - 0s 18ms/step - loss: 0.5543 - accuracy: 0.7688 - val_loss: 0.6382 - val_accuracy: 0.7100
Epoch 22/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5542 - accuracy: 0.7725 - val_loss: 0.6291 - val_accuracy: 0.7000
Epoch 23/100
25/25 [==============================] - 0s 9ms/step - loss: 0.5459 - accuracy: 0.7812 - val_loss: 0.6270 - val_accuracy: 0.6950
Epoch 24/100
25/25 [==============================] - 0s 8ms/step - loss: 0.5440 - accuracy: 0.7825 - val_loss: 0.6346 - val_accuracy: 0.7100
Epoch 25/100
25/25 [==============================] - 0s 9ms/step - loss: 0.5439 - accuracy: 0.7638 - val_loss: 0.6266 - val_accuracy: 0.7000
Epoch 26/100
25/25 [==============================] - 0s 16ms/step - loss: 0.5479 - accuracy: 0.7763 - val_loss: 0.6237 - val_accuracy: 0.6950
Epoch 27/100
25/25 [==============================] - 0s 8ms/step - loss: 0.5355 - accuracy: 0.7875 - val_loss: 0.6294 - val_accuracy: 0.6950
Epoch 28/100
25/25 [==============================] - 0s 11ms/step - loss: 0.5343 - accuracy: 0.7763 - val_loss: 0.6284 - val_accuracy: 0.7050
Epoch 29/100
25/25 [==============================] - 0s 17ms/step - loss: 0.5402 - accuracy: 0.7763 - val_loss: 0.6218 - val_accuracy: 0.7050
Epoch 30/100
25/25 [==============================] - 0s 11ms/step - loss: 0.5352 - accuracy: 0.7800 - val_loss: 0.6204 - val_accuracy: 0.7050
Epoch 31/100
25/25 [==============================] - 0s 13ms/step - loss: 0.5299 - accuracy: 0.7837 - val_loss: 0.6233 - val_accuracy: 0.7050
Epoch 32/100
25/25 [==============================] - 1s 24ms/step - loss: 0.5322 - accuracy: 0.7775 - val_loss: 0.6255 - val_accuracy: 0.7050
Epoch 33/100
25/25 [==============================] - 0s 13ms/step - loss: 0.5318 - accuracy: 0.7862 - val_loss: 0.6208 - val_accuracy: 0.7000
Epoch 34/100
25/25 [==============================] - 0s 13ms/step - loss: 0.5303 - accuracy: 0.7663 - val_loss: 0.6216 - val_accuracy: 0.7100
Epoch 35/100
25/25 [==============================] - 0s 10ms/step - loss: 0.5277 - accuracy: 0.7937 - val_loss: 0.6410 - val_accuracy: 0.7350
Epoch 36/100
25/25 [==============================] - 0s 11ms/step - loss: 0.5368 - accuracy: 0.7738 - val_loss: 0.6240 - val_accuracy: 0.7000
Epoch 37/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5229 - accuracy: 0.7812 - val_loss: 0.6458 - val_accuracy: 0.7250
Epoch 38/100
25/25 [==============================] - 0s 16ms/step - loss: 0.5420 - accuracy: 0.7713 - val_loss: 0.6429 - val_accuracy: 0.7150
Epoch 39/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5170 - accuracy: 0.8012 - val_loss: 0.6224 - val_accuracy: 0.7100
Epoch 40/100
25/25 [==============================] - 0s 16ms/step - loss: 0.5222 - accuracy: 0.7837 - val_loss: 0.6444 - val_accuracy: 0.7350
Epoch 41/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5269 - accuracy: 0.7850 - val_loss: 0.6492 - val_accuracy: 0.7300
Epoch 42/100
25/25 [==============================] - ETA: 0s - loss: 0.5214 - accuracy: 0.77 - 0s 15ms/step - loss: 0.5214 - accuracy: 0.7775 - val_loss: 0.6211 - val_accuracy: 0.7200
Epoch 43/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5208 - accuracy: 0.7788 - val_loss: 0.6278 - val_accuracy: 0.7100
Epoch 44/100
25/25 [==============================] - 0s 13ms/step - loss: 0.5217 - accuracy: 0.7788 - val_loss: 0.6338 - val_accuracy: 0.7200
Epoch 45/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5138 - accuracy: 0.7937 - val_loss: 0.6280 - val_accuracy: 0.7050
Epoch 46/100
25/25 [==============================] - 1s 23ms/step - loss: 0.5116 - accuracy: 0.8050 - val_loss: 0.6248 - val_accuracy: 0.7250
Epoch 47/100
25/25 [==============================] - 0s 13ms/step - loss: 0.5187 - accuracy: 0.7987 - val_loss: 0.6644 - val_accuracy: 0.7350
Epoch 48/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5218 - accuracy: 0.7775 - val_loss: 0.6400 - val_accuracy: 0.7250
Epoch 49/100
25/25 [==============================] - 0s 18ms/step - loss: 0.5150 - accuracy: 0.7937 - val_loss: 0.6286 - val_accuracy: 0.7250
Epoch 50/100
25/25 [==============================] - 0s 16ms/step - loss: 0.5106 - accuracy: 0.7887 - val_loss: 0.6266 - val_accuracy: 0.7200
Epoch 51/100
25/25 [==============================] - 0s 10ms/step - loss: 0.4990 - accuracy: 0.8087 - val_loss: 0.6423 - val_accuracy: 0.7300
Epoch 52/100
25/25 [==============================] - 0s 13ms/step - loss: 0.5099 - accuracy: 0.7925 - val_loss: 0.6400 - val_accuracy: 0.7450
Epoch 53/100
25/25 [==============================] - 0s 12ms/step - loss: 0.5317 - accuracy: 0.7725 - val_loss: 0.6438 - val_accuracy: 0.7400
Epoch 54/100
25/25 [==============================] - 0s 11ms/step - loss: 0.5079 - accuracy: 0.7937 - val_loss: 0.6314 - val_accuracy: 0.7300
Epoch 55/100
25/25 [==============================] - 0s 13ms/step - loss: 0.5073 - accuracy: 0.7962 - val_loss: 0.6339 - val_accuracy: 0.7150
Epoch 56/100
25/25 [==============================] - 0s 10ms/step - loss: 0.5129 - accuracy: 0.7850 - val_loss: 0.6255 - val_accuracy: 0.7150
Epoch 57/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5093 - accuracy: 0.7925 - val_loss: 0.6410 - val_accuracy: 0.6850
Epoch 58/100

25/25 [==============================] - 0s 13ms/step - loss: 0.5017 - accuracy: 0.8112 - val_loss: 0.6362 - val_accuracy: 0.7100
Epoch 59/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5096 - accuracy: 0.7788 - val_loss: 0.6300 - val_accuracy: 0.7150
Epoch 60/100
25/25 [==============================] - 0s 15ms/step - loss: 0.5070 - accuracy: 0.7987 - val_loss: 0.6593 - val_accuracy: 0.7350
Epoch 61/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5044 - accuracy: 0.8037 - val_loss: 0.6428 - val_accuracy: 0.7250
Epoch 62/100
25/25 [==============================] - 0s 15ms/step - loss: 0.4999 - accuracy: 0.8050 - val_loss: 0.6361 - val_accuracy: 0.7150
Epoch 63/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5071 - accuracy: 0.7925 - val_loss: 0.6490 - val_accuracy: 0.7250
Epoch 64/100
25/25 [==============================] - ETA: 0s - loss: 0.5101 - accuracy: 0.79 - 0s 12ms/step - loss: 0.5037 - accuracy: 0.7950 - val_loss: 0.6595 - val_accuracy: 0.7350
Epoch 65/100
25/25 [==============================] - 0s 14ms/step - loss: 0.4965 - accuracy: 0.8037 - val_loss: 0.6381 - val_accuracy: 0.7050
Epoch 66/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5050 - accuracy: 0.8012 - val_loss: 0.6407 - val_accuracy: 0.7300
Epoch 67/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5030 - accuracy: 0.8012 - val_loss: 0.6531 - val_accuracy: 0.7250
Epoch 68/100
25/25 [==============================] - 0s 13ms/step - loss: 0.4925 - accuracy: 0.8100 - val_loss: 0.6397 - val_accuracy: 0.7150
Epoch 69/100
25/25 [==============================] - 0s 14ms/step - loss: 0.4957 - accuracy: 0.8062 - val_loss: 0.6373 - val_accuracy: 0.7200
Epoch 70/100
25/25 [==============================] - 0s 11ms/step - loss: 0.4951 - accuracy: 0.8075 - val_loss: 0.6368 - val_accuracy: 0.7250
Epoch 71/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4999 - accuracy: 0.7987 - val_loss: 0.6440 - val_accuracy: 0.7350
Epoch 72/100
25/25 [==============================] - 0s 16ms/step - loss: 0.5033 - accuracy: 0.7937 - val_loss: 0.6506 - val_accuracy: 0.7300
Epoch 73/100
25/25 [==============================] - 0s 10ms/step - loss: 0.4940 - accuracy: 0.8200 - val_loss: 0.6406 - val_accuracy: 0.7350
Epoch 74/100
25/25 [==============================] - 0s 14ms/step - loss: 0.5011 - accuracy: 0.8025 - val_loss: 0.6363 - val_accuracy: 0.7200
Epoch 75/100
25/25 [==============================] - 0s 15ms/step - loss: 0.4903 - accuracy: 0.8175 - val_loss: 0.6312 - val_accuracy: 0.7350
Epoch 76/100
25/25 [==============================] - 0s 18ms/step - loss: 0.5026 - accuracy: 0.7925 - val_loss: 0.6417 - val_accuracy: 0.7300
Epoch 77/100
25/25 [==============================] - 0s 15ms/step - loss: 0.4973 - accuracy: 0.7887 - val_loss: 0.6550 - val_accuracy: 0.7350
Epoch 78/100
25/25 [==============================] - 0s 15ms/step - loss: 0.4889 - accuracy: 0.8037 - val_loss: 0.6473 - val_accuracy: 0.7100
Epoch 79/100
25/25 [==============================] - 0s 12ms/step - loss: 0.4873 - accuracy: 0.8112 - val_loss: 0.6505 - val_accuracy: 0.7150
Epoch 80/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4821 - accuracy: 0.8138 - val_loss: 0.6486 - val_accuracy: 0.7150
Epoch 81/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4772 - accuracy: 0.8175 - val_loss: 0.6514 - val_accuracy: 0.7250
Epoch 82/100
25/25 [==============================] - 0s 16ms/step - loss: 0.4872 - accuracy: 0.8012 - val_loss: 0.6520 - val_accuracy: 0.7200
Epoch 83/100
25/25 [==============================] - 0s 15ms/step - loss: 0.4837 - accuracy: 0.8138 - val_loss: 0.6436 - val_accuracy: 0.7050
Epoch 84/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4954 - accuracy: 0.8163 - val_loss: 0.6553 - val_accuracy: 0.7250
Epoch 85/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4760 - accuracy: 0.8225 - val_loss: 0.6730 - val_accuracy: 0.7250
Epoch 86/100
25/25 [==============================] - 0s 10ms/step - loss: 0.5030 - accuracy: 0.7850 - val_loss: 0.6506 - val_accuracy: 0.7200
Epoch 87/100
25/25 [==============================] - 0s 10ms/step - loss: 0.4930 - accuracy: 0.8175 - val_loss: 0.6516 - val_accuracy: 0.7150
Epoch 88/100
25/25 [==============================] - 0s 12ms/step - loss: 0.4817 - accuracy: 0.8112 - val_loss: 0.6468 - val_accuracy: 0.7150
Epoch 89/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4841 - accuracy: 0.8100 - val_loss: 0.6533 - val_accuracy: 0.7250
Epoch 90/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4970 - accuracy: 0.8000 - val_loss: 0.6884 - val_accuracy: 0.7350
Epoch 91/100
25/25 [==============================] - 0s 7ms/step - loss: 0.4706 - accuracy: 0.8238 - val_loss: 0.6481 - val_accuracy: 0.7150
Epoch 92/100
25/25 [==============================] - 0s 8ms/step - loss: 0.4718 - accuracy: 0.8275 - val_loss: 0.6655 - val_accuracy: 0.7200
Epoch 93/100
25/25 [==============================] - 0s 7ms/step - loss: 0.4813 - accuracy: 0.8062 - val_loss: 0.6570 - val_accuracy: 0.7400
Epoch 94/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4832 - accuracy: 0.8200 - val_loss: 0.6512 - val_accuracy: 0.7250
Epoch 95/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4710 - accuracy: 0.8175 - val_loss: 0.6623 - val_accuracy: 0.6950
Epoch 96/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4934 - accuracy: 0.8100 - val_loss: 0.6477 - val_accuracy: 0.7200
Epoch 97/100
25/25 [==============================] - 0s 7ms/step - loss: 0.4953 - accuracy: 0.7912 - val_loss: 0.6439 - val_accuracy: 0.7250
Epoch 98/100
25/25 [==============================] - 0s 13ms/step - loss: 0.4872 - accuracy: 0.8225 - val_loss: 0.6574 - val_accuracy: 0.7000
Epoch 99/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4785 - accuracy: 0.8188 - val_loss: 0.6660 - val_accuracy: 0.7050
Epoch 100/100
25/25 [==============================] - 0s 9ms/step - loss: 0.4740 - accuracy: 0.8175 - val_loss: 0.6501 - val_accuracy: 0.7000